{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">

    <div class="table-responsive mb-4">
        <h2 class="text-center text-white bg-success py-2 rounded">Admins</h2>
        <table class="table table-bordered table-striped table-hover mt-2">
            <thead class="thead-dark">
                <tr>
                    <th style="width:8%">User ID</th>
                    <th>Username</th>
                    <th style="width:16%">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    {% if user.is_admin: %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>
                                <div class="row">
                                    <div class="col md-6">
                                        <form action="{{url_for('delete_user', id=user.id)}}" method="post">
                                            <button 
                                            {% if user.is_admin %}
                                                disabled
                                            {% endif %}
                                            {% if not user.is_deleted %}
                                            type="submit" class="btn btn-danger"><i class="fa-solid fa-trash" aria-hidden="true"></i>
                                            {% else %}
                                            type="submit" class="btn btn-danger"><i class="fa-solid fa-undo" aria-hidden="true"></i>
                                            {% endif %}
                                            </button>
                                        </form>
                                    </div>
                                    <div class="col md-6">
                                        <form action="{{url_for('permanently_delete_user', id=user.id)}}" method="post" onsubmit="return confirmDelete();">
                                            <button 
                                            {% if user.is_admin %}
                                                disabled
                                            {% endif %}
                                            type="submit" class="btn btn-danger"><i class="fas fa-user-times" aria-hidden="true"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="col md-6">
                                        <form action="{{url_for('flag_user', id=user.id)}}" method="post">
                                            <button 
                                            {% if user.is_admin %}
                                                disabled
                                            {% endif %}
                                            {% if not user.is_flagged %}
                                            type="submit" class="btn btn-danger"><i class="fa-solid fa-flag" aria-hidden="true"></i>
                                            {% else %}
                                            type="submit" class="btn btn-danger"><i class="fa-solid fa-flag-checkered" aria-hidden="true"></i>
                                            {% endif %}
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="table-responsive mb-4">
        <h2 class="text-center text-white bg-success py-2 rounded">Sponsors</h2>
        <table class="table table-bordered table-striped table-hover mt-2">
            <thead class="thead-dark">
                <tr>
                    <th style="width:8%">User ID</th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Industry</th>
                    <th>Spendings</th>
                    <th style="width:16%">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    {% for sponsor in user.sponsors %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ sponsor.name }}</td>
                            <td>{{ sponsor.industry }}</td>
                            <td>{{ sponsor.spendings }}</td>
                            <td>
                                <div class="row">
                                    <div class="col md-6">
                                        <form action="{{url_for('delete_user', id=user.id)}}" method="post">
                                            <button 
                                            {% if user.is_admin %}
                                                disabled
                                            {% endif %}
                                            {% if not user.is_deleted %}
                                            type="submit" class="btn btn-danger"><i class="fa-solid fa-trash" aria-hidden="true"></i>
                                            {% else %}
                                            type="submit" class="btn btn-danger"><i class="fa-solid fa-undo" aria-hidden="true"></i>
                                            {% endif %}
                                            </button>
                                        </form>
                                    </div>
                                    <div class="col md-6">
                                        <form action="{{url_for('permanently_delete_user', id=user.id)}}" method="post" onsubmit="return confirmDelete();">
                                            <button 
                                            {% if user.is_admin %}
                                                disabled
                                            {% endif %}
                                            type="submit" class="btn btn-danger"><i class="fas fa-user-times" aria-hidden="true"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="col md-6">
                                        <form action="{{url_for('flag_user', id=user.id)}}" method="post">
                                            <button 
                                            {% if user.is_admin %}
                                                disabled
                                            {% endif %}
                                            {% if not user.is_flagged %}
                                            type="submit" class="btn btn-danger"><i class="fa-solid fa-flag" aria-hidden="true"></i>
                                            {% else %}
                                            type="submit" class="btn btn-danger"><i class="fa-solid fa-flag-checkered" aria-hidden="true"></i>
                                            {% endif %}
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="table-responsive mb-4">
        <h2 class="text-center text-white bg-success py-2 rounded">Influencers</h2>
        <table class="table table-bordered table-striped table-hover mt-2">
            <thead class="thead-dark">
                <tr>
                    <th style="width:8%">User ID</th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Niche</th>
                    <th style="width:16%">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    {% for influencer in user.influencers %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ influencer.name }}</td>
                            <td>{{ influencer.category }}</td>
                            <td>{{ influencer.niche }}</td>
                            <td>
                                <div class="row">
                                    <div class="col md-6">
                                        <form action="{{url_for('delete_user', id=user.id)}}" method="post">
                                            <button 
                                            {% if user.is_admin %}
                                                disabled
                                            {% endif %}
                                            {% if not user.is_deleted %}
                                            type="submit" class="btn btn-danger"><i class="fa-solid fa-trash" aria-hidden="true"></i>
                                            {% else %}
                                            type="submit" class="btn btn-danger"><i class="fa-solid fa-undo" aria-hidden="true"></i>
                                            {% endif %}
                                            </button>
                                        </form>
                                    </div>
                                    <div class="col md-6">
                                        <form action="{{url_for('permanently_delete_user', id=user.id)}}" method="post" onsubmit="return confirmDelete();">
                                            <button 
                                            {% if user.is_admin %}
                                                disabled
                                            {% endif %}
                                            type="submit" class="btn btn-danger"><i class="fas fa-user-times" aria-hidden="true"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="col md-6">
                                        <form action="{{url_for('flag_user', id=user.id)}}" method="post">
                                            <button 
                                            {% if user.is_admin %}
                                                disabled
                                            {% endif %}
                                            {% if not user.is_flagged %}
                                            type="submit" class="btn btn-danger"><i class="fa-solid fa-flag" aria-hidden="true"></i>
                                            {% else %}
                                            type="submit" class="btn btn-danger"><i class="fa-solid fa-flag-checkered" aria-hidden="true"></i>
                                            {% endif %}
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



{% endblock %}