{% extends 'layout.html' %}

{% block content %}
    <h1>
        Admin Dashboard
    </h1>
    <hr>
    <h2>
        Users
    </h2>
    <p>
        Number of registered users: {{users | length}}
    </p>
    <a href="{{url_for('user_list')}}" class="btn btn-outline-primary">
        <i class="fa fa-user" aria-hidden="true"></i>
        List Users
    </a>
    <hr>
    <h2>
        Categories (Total: {{categories | length}})
    </h2>
    <a href="{{url_for('category_list')}}" class="btn btn-outline-primary">
        <i class="fas fa-list-alt"></i>
        Show Categories
    </a>
    <a href="{{url_for('export_data')}}" class="btn btn-outline-primary">
      <i class="fas fa-file-csv" aria-hidden="true"></i>
      Export Data
    </a>
    <div class="d-flex w-50">
        <canvas id="myChart"></canvas>
    </div>

    {% block script %}

    <script>
        const ctx = document.getElementById('myChart');
      
        new Chart(ctx, {
          type: 'pie',
          data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
              label: '# of Votes',
              data: [12, 19, 3, 5, 2, 3],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      </script>      
    
      {% endblock %}    
{% endblock %}

