<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('home')}}"><b>IESCP</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          {% if 'username' in session %}
            {% if session['role'] == 'sponsor' or session['role'] == 'influencer' %}
            <li class="nav-item">
                <form class="form-inline d-flex" action="/search" method="get">
                  <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search" name="search" 
                  {% if search %}
                      value="{{ search }}"
                  {% endif %}
                  >
                </form>     
            </li>
            {% endif %}
            {% if session['role'] == 'sponsor' %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('campaigns') }}"><i class="fa fa-bullhorn"></i></a>
              </li>
            {% endif %}
            <li>
              <div class="dropdown">
                <button class="nav-link" role="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-user"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                  {% if session['role'] != 'admin' %}
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('profile', username=session['username']) }}">My Profile</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('mychats') }}">My Chats</a>
                    </li>
                  {% endif %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('settings') }}">My Settings</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                  </li>
                </ul>
              </div>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>